:root{
	--main-radius: 20px;
	--main-padding:  10px;
	--main-padding-left: 20px;
}

*{
    text-decoration: none;
    font-family: font-family: 'Anton', sans-serif;;
    position: relative;
  }



h1{
	    font-family: font-family: 'Anton', sans-serif;
	    margin-left: 10px;
}

p{
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 15px;
	font-size: 20pt;
}

.courseLink{
	font-family: 'Source Sans Pro', sans-serif;
	margin-left: 15px;
	font-size: 14px;
	font-weight: bold;
}

.container{
	display: grid;
	height:  100vh;
	grid-template-columns: .5fr 1fr 1fr 1fr;
	grid-template-rows: .25fr	.75fr	1.2fr	.25fr;
	grid-template-areas: 
	"logo nav nav nav"
	"sidebar main main main"
	"sidebar content1 content2 content3"
	"footer footer footer footer";
	grid-gap: 1rem;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	}

#logo{
	background: #FFD700;
	grid-area: logo;
}

nav{
	float: right;
	background: #FFD700;
	font-family: font-family: 'Anton', sans-serif;;
	grid-area: nav;
	padding-top: var(--main-padding);
	align-content: stretch;
}

 nav{
    float: right;
    display: flex;
    align-items: center;
    min-height: 90px;
  }
  
nav a{
    margin-left: 10px;
    color: rgb(8, 1, 7);
    text-transform: uppercase;
    font-size: 14px;
    padding: 12px 20px;
    border-radius: 4px;
    transition: .3s linear;
  }
  
nav a:hover{
    background: #fff;
    color: #ffd000;
    transform: scale(1.1);
  }
  
nav i{
    margin-right: 8px;
    font-size: 16px;
  }



  .home{
    color: #ff6b6b;
  }
  
  .about{
    color: #0abde3;
  }
  
  .works{
    color: #feca57;
  }
  
  .team{
    color: #5f27cd;
  }
  
  .contact{
    color: #1dd1a1;
  }
  
  .menu-toggle-btn{
    float: right;
    height: 90px;
    line-height: 90px ;
    color: rgb(255, 255, 255);
    font-size: 26px;
    display: none ;
    cursor: pointer;
  }

main{
	background: white;
	grid-area: main;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	padding-left: 20px;
	padding-right: 20px;
}

#sidebar{
	background: white;
	grid-area: sidebar;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
}

#content1{
	background: white;
	grid-area: content1;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	padding-left: var(--main-padding-left);
}
#content2{
	background: white;
	grid-area: content2;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	padding-left: var(--main-padding-left);
}
#content3{
	background: white;
	grid-area: content3;
	border-radius: var(--main-radius);
	padding-top: var(--main-padding);
	padding-left: var(--main-padding-left);
}
#footer{
	background: #FFD700;
	grid-area: footer;
	padding-top: var(--main-padding);
}

#lecture{
	font-size: 20px;
	font-family: 'Source Sans Pro', sans-serif;
}


@media only screen and (max-width:  550px){
	.container{
		grid-template-columns: 1fr;
		grid-template-rows: 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr 0.4fr;
	}
}
