.h1 {
  font-size: large;
}

p {
  font-size: 14;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.heading {
  background-color: yellow;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 2;
  grid-row: 1;
  color: red;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1;
  color: goldenrod;
}
.three {
  grid-column: 3/4;
  grid-row: 1;
  color: purple;
}
.four {
  grid-column: 1;
  grid-row: 2;
  color: blue;
  font-family: cursive;
}
.five {
  grid-column: 2;
  grid-row: 2;
  color: grey;
  font-style: italic;
}
.six {
  grid-column: 3;
  grid-row: 2;
  background-color: fuchsia;
}
